@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}

.title-3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.image-click,
.image-hover {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  display: block;
}

.image-box {
  height: 500px;
  width: 300px;
  background-image: url('../img/lamp-off.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.btn-inner .btn {
  margin-right: 25px;
}